@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scrollbar-width: none;

}

body{
  height: 100vh;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.quote-box{
  backdrop-filter: blur(20px);
  /* background-color: rgba(211,235,255,0.57); */
}

.marquee-container {
  position: relative;

}

.marquee {
  display: inline-block;
  animation: marquee 20s linear infinite;
}

.cityDay{
  background: url('./assets/images/fullpage-bg.png');
  background-size: cover;
  background-repeat: no-repeat;

}
.cityNight{
  background: url('./assets/images/night.png');
  background-size: cover;
  background-repeat: no-repeat;

}



.weather{
  background-image: url('./assets/images/day.png');
}


